<link rel="stylesheet" href="css/site.css">
<script src="js/site/init.js" charset="utf-8"></script>
<div ng-include="'layout/site/header.html'" ></div>
<main>
  <div class="container">
    <section>
      <h1 class="text-center titulos">Quem Somos</h1>
      <p>Presente no mercado desde 2010 a Time Control foi criado com o objetivo de ajudar as pessoas a controlar melhor o seu tempo. Através do nosso perfil inovador, buscamos levar tecnologia de ponta, e maior eficiência as pessoas que desejam controlar da melhor forma o seu tempo.</p>
      <p>O foco principal é oferecer um controle total de como tem gastado o seu tempo, através de relatórios de alta qualidade e precisão, calendário com informações das atividades da sua semana ou do mês, histórico onde é possível comparar se tem gastado seu tempo da mesma forma das semanas anteriores. </p>
      <p>A Time Control procura sempre se antecipar as tendências do mercado tecnológico, oferecendo software para usuários iniciantes e avançados com um visual enxuto e interação amigável constituindo a base para o ganho de tempo no tratamento das informações, e gerenciando melhor seu tempo.</p>
    </section>
    <section class="vmv">
      <div class="col-md-4">
        <h2>Missão</h2>
        <p>Nosso objetivo é oferecer serviços inovadores com um alto padrão de qualidade e atendimento sendo capaz de agregar valor aos nossos usuários contribuindo diretamente para um aproveitamento melhor do tempo.</p>
      </div>
      <div class="col-md-4">
        <h2>Visão</h2>
        <p>Conquistar a liderança através de um modelo de gestão sólido, sendo referência em controle de tempo gasto, com lastro em seu alto padrão de qualidade. Sempre com uma equipe qualificada formada por profissionais motivados que contribuirão para uma vida melhor dos usuários.</p>
      </div>
      <div class="col-md-4 valores">
        <h2>Valores</h2>
        <ul>
          <li><span class="glyphicon glyphicon-ok" aria-hidden="true"> Ética</span></li>
          <li><span class="glyphicon glyphicon-ok" aria-hidden="true"> Inovação</span></li>
          <li><span class="glyphicon glyphicon-ok" aria-hidden="true"> Valorização do funcionário</span></li>
          <li><span class="glyphicon glyphicon-ok" aria-hidden="true"> Compromisso com Usuário</span></li>
          <li><span class="glyphicon glyphicon-ok" aria-hidden="true"> Qualidade</span></li>
          <li><span class="glyphicon glyphicon-ok" aria-hidden="true"> Respeito</span></li>
          <li><span class="glyphicon glyphicon-ok" aria-hidden="true"> Parceria e Relacionamento de Pessoas</span></li>
          <li><span class="glyphicon glyphicon-ok" aria-hidden="true"> Responsabilidade Social</span></li>
         </ul>
      </div>
    </section>
    <section>
      <h1 class="text-center titulos">Fundadores</h1>
      <div class="fundadores">
        <ul>
          <li class="col-md-2 componente-grupo">
              <img src="img/grupo/ana_clara.jpg" alt="integrante-Ana">
              <h2>Ana Clara Bispo</h2>
              <h3>Graduanda de Sistemas de Informação</h3>
              <p>Responsável pela execução de testes manuais e automatizados do site e sistema.</p>
          </li>
          <li class="col-md-2 componente-grupo">
              <img src="img/grupo/daiane.jpg" alt="integrante-Daiane">
              <h2>Daiane Oliveira</h2>
              <h3>Graduanda de Sistemas de Informação</h3>
              <p>Responsável pela implementação das funcionalidades do site e sistema.</p>
          </li>
          <li class="col-md-2 componente-grupo">
              <img src="img/grupo/guilherme.jpg" alt="integrante-Guilherme">
              <h2>Guilherme Braga</h2>
              <h3>Graduando de Sistemas de Informação</h3>
              <p>Responsável pela implementação das funcionalidades do site e sistema.</p>
          </li>
          <li class="col-md-2 componente-grupo">
              <img src="img/grupo/paula.png" alt="integrante-Paula">
              <h2>Paula Magalhães</h2>
              <h3>Graduanda de Sistemas de Informação</h3>
              <p>Responsável pela criação da interface gráfica do site e sistema.</p>
          </li>
          <li class="col-md-2 componente-grupo">
              <img src="img/grupo/raissa.jpg" alt="integrante-Raissa">
              <h2>Raissa Takenaka</h2>
              <h3>Graduanda de Sistemas de Informação</h3>
              <p>Responsável pela gestão do projeto, criação de documentaçao e protótipos.</p>
          </li>
        </ul>    
      </div>
    <section>
  </div>
</main>
<div ng-include="'layout/site/footer.html'"></div>