<section>
  <nav class="main-menu expanded">
  <span class="text-right icon-icon glyphicon glyphicon-chevron-left icon-close" aria-hidden="true"></span>
  <span class="text-right icon-icon glyphicon glyphicon-chevron-right icon-open" aria-hidden="true"></span>
  <div class="settings">
    <h2 class="logo logo-icon">Time Control</h2>
    <h2 class="logo logo-sigla">TC</h2>
  </div>
  <div class="scrollbar" id="style-1">
    <ul>
      <li>
        <a href="#/inicio">
           <span class="fa glyphicon glyphicon-home" aria-hidden="true"></span>
          <span class="nav-text">Home</span>
        </a>
      </li>
      <li>
        <a href="#/atividades">
          <span class="fa glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          <span class="nav-text">Atividades</span>
        </a>
      </li>  
       <!--<li>
        <a href="#">
          <span class="fa glyphicon glyphicon-stats" aria-hidden="true"></span>
          <span class="nav-text">Relatório</span>
        </a>
        </li>-->
        <li> 
        <a href="#">
          <span class="fa glyphicon glyphicon-question-sign" aria-hidden="true"></span>
          <span class="nav-text">Ajuda</span>
        </a>
      </li>      
    </ul> 
  </div> 
</nav>
</section>