<link rel="stylesheet" href="css/sistema.css">
<script src="js/sistema/init.js" charset="utf-8"></script>
<div ng-include="'layout/sistema/header.html'" ></div>
<div ng-include="'layout/sistema/atividades/modal-atividade.html'" ></div>
<div ng-include="'layout/sistema/tempo_investido/modal-tempo-investido.html'" ></div>

<main>
  <div ng-include="'layout/sistema/menu.html'" ></div>
  <section>
    <h1>Histórico</h1>
    <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Nome Atividade</th>
        <th>Semana Retrasada</th>
        <th>Semana Passada</th>
        <th>Semana Atual</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="historico in historicos">
        <td>{{historico.atividade.nome}}</td>
        <td>{{historico.duasSemanasAnteriores}}</td>
        <td>{{historico.semanaAnterior}}</td>
        <td>{{historico.semanaAtual}}</td>
      </tr>

    </tbody>
  </table>
  </section>
</main>
