body {
  padding-top: 20px;
  padding-bottom: 10px;
}

#labelLogin{
  color: #000000;
  font-family: "Poppins Light";
  font-size: 30px;
  text-align: center;
}

#labelRegistre{
  color:#000000;
  font-family: "Poppins Light";
  font-size:13px;
  text-align: center;
  padding-bottom: 24px;
}

#labelPadrao{
  color: #000000;
  font-family: "Poppins Light";
  font-size: 12px;
  text-align: right;
}

input[type=email], input[type=password]{
	border-width: 0;
	border-bottom-width: 1px;
	box-shadow: initial;
}

.form-signin {
    max-width: 600px;
    padding: 10px;
    margin: 20px;
    font: 12px Poppins Light
}

.container-login{ 
	border-right: 1px solid #808080; 
}

.button-login {
    background-color:  #33ccff; 
    color: #F8F8FF;
	border: 1px solid #33ccff;
    padding: 5px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 15px 195px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
	border-radius: 50px;
}

button.button.button-login:hover {
    background-color: #a0e5ee;
    color: #000000;
}

#registre-login{
    color: #33ccff;
    text-decoration: none!important;
}

#logo-login{
    color: #000!important;
    text-decoration: none!important;
    padding-left: 13%!important; 
}

.body-login{
    padding-top: 3% 
}

#logo-login-time{
     width: 450px;
}

#login-layout{
    padding-left: 25% 
}

.footerLogin{
    margin-top: 39.2%;
}