.home{
    background:url('../img/banner_timeControl.jpg') no-repeat;
    background-size: cover;
    height: 670px;
}

.home h1, .home p{
    color: #000;
}

a{
  color: #00bcd4;
}

.navbar-brand{
  padding: 0;
}

.menu-topo{
  margin-top: 10px;
}

 a:focus, a:hover, .nav>li>a:focus, .nav>li>a:hover, .nav>li>a.btn-primary:hover{
   color: #a0e5ee;
 }

.nav>li.active{
    border-bottom: 2px solid #fff;
}
header:hover .nav>li.active,
header.menuScroll:not(:hover) .nav>li.active{
    border-bottom: 2px solid #000;
}
 header{
   width: 100%;
   position: fixed;
   z-index: 99;
 }

 header:hover, header.menuScroll{
    background-color: rgba(255, 255, 255, 0.83);
    transition: all .3s ease-out;
 }

 header:hover .logo, header:hover .nav>li>a,
 header.menuScroll .logo, header.menuScroll .nav>li>a{
    color: #000;
 }

header:hover .nav>li>a:focus, header:hover .nav>li>a:hover{ 
    background-color: initial;
}

header:hover .nav>li:not(.active)>a:focus, header:hover .nav>li:not(.active)>a:hover,
 header.menuScroll:not(:hover) .nav>li:not(.active)>a:focus{
    border-bottom: 2px solid #000;
}

 .nav>li>a{
   color: #fff;
 }

.home-info{
    padding-top: 150px; 
}
.home-btn{
    margin-top: 40px;
    display: flex;
   justify-content: center; 
}

footer{
    padding: 30px 0;
    background-color: #000;
    color: #fff;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: initial;
}

