<section>
  <h1>Lista de Atividades</h1>
  <table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th style="display: none">id</th>
      <th>Nome Atividade</th> 
      <th>Descrição Atividade</th> 
           
         <!--<th>
        Tempo Gasto no Dia<span class="glyphicon glyphicon-question-sign tooltip-table" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="O tempo gasto para exercer cada atividade considerando o dia ATUAL."></span>
        </th>
         <th>
        Tempo Gasto na Semana<span class="glyphicon glyphicon-question-sign tooltip-table" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="O tempo gasto para exercer cada atividade considerando a semana ATUAL."></span>
        </th>
         <th>
        Tempo Gasto no Mês<span class="glyphicon glyphicon-question-sign tooltip-table" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="O tempo gasto para exercer cada atividade considerando o mês ATUAL."></span>
        </th>-->
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th  style="display: none" scope="row">1</th>
      <td>Fazer o sistema</td>
      <td>Tenho que fazer as coisas em seguida finalizar
      <!--<td>20:30</td>
      <td>20:30</td>
      <td>20:30</td>-->
      <td>
        <span class="glyphicon glyphicon-eye-open" title="Visualizar"  data-toggle="tooltip" data-placement="top" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-pencil" title="Editar"  data-toggle="tooltip" data-placement="top" aria-hidden="true"></span>        
        <span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Excluir" aria-hidden="true"></span>

      </td>
    </tr>
    <tr>
      <th  style="display: none" scope="row">1</th>
      <td>Fazer o sistema</td>
      <td>Tenho que fazer as coisas em seguida finalizar
      <!--<td>20:30</td>
      <td>20:30</td>
      <td>20:30</td>-->
      <td>
        <span class="glyphicon glyphicon-eye-open" title="Visualizar"  data-toggle="tooltip" data-placement="top" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-pencil" title="Editar"  data-toggle="tooltip" data-placement="top" aria-hidden="true"></span>        
        <span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Excluir" aria-hidden="true"></span>

      </td>
    </tr>
    <tr>
      <th  style="display: none" scope="row">1</th>
      <td>Fazer o sistema</td>
      <td>Tenho que fazer as coisas em seguida finalizar
      <!--<td>20:30</td>
      <td>20:30</td>
      <td>20:30</td>-->
      <td>
        <span class="glyphicon glyphicon-eye-open" title="Visualizar"  data-toggle="tooltip" data-placement="top" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-pencil" title="Editar"  data-toggle="tooltip" data-placement="top" aria-hidden="true"></span>        
        <span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Excluir" aria-hidden="true"></span>
      </td>
    </tr>
    
  </tbody>
</table>
</section>
