<link rel="stylesheet" href="css/site.css">
<script src="js/site/init.js" charset="utf-8"></script>
<div ng-include="'layout/site/header.html'" ></div>
    <main>
        <section class="cadastroTimeControl row">
            <div class="col-md-12 body-cadastro " >
                <div id="labelReg1">
                    Registre-se
                </div>
                
                <div id="labelReg2">
                    Já tem uma conta? 
                    <a href="#/login" id="registre-cadastro">&nbsp;Login</a><br><br>
                </div>
                

                 <div id="cadastrar-layout">
                    <form class="form-cadastro">
                        <div id="labelPadrao">
                            <text class="center-text"> Os campos que possuem (*) são de preenchimento obrigatório. </text>
                        </div>
                        <label for="inputNome" class="">Nome: *</label><br>
                        <input type="text" id="inputNome" class="form-control" placeholder="Informe seu nome" required ><br>
                        <label for="inputProf" class="">Profissão: *</label><br>
                        <input type="text" id="inputProf" class="form-control" placeholder="Informe sua Profissão" required ><br>

                        <label for="inputEmail" class="">Email: *</label><br>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Informe seu e-mail" required ><br> 
                        <label for="inputEmail" class="">Digite seu e-mail novamente: *</label><br>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Informe seu e-mail" required ><br> 

                        <label for="inputPassword" class="">Senha: *</label><br>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Informe sua senha com 4 dígitos" minlength="4" maxlength="4" required ><br>
                        <label for="inputPassword" class="">Digite sua senha novamente: *</label><br>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Informe sua senha com 4 dígitos" minlength="4" maxlength="4" required ><br>

                        <button class="button button-cadastrar" type="submit">Registar</button> <br>		
                    </form>
                </div>

                <div id="labelTermoUso">
                    <text>Ao se inscrever, você concorda com os 
                        <a href="#" style="color: #33ccff"> Termos de Uso</a>,<br>
                        <!-- <a href="#" style="color: #33ccff"> Política de Privacidade </a>
                        e a receber emails com novidades do TimeControl. -->
                    </text>
                </div>
            </div>
        </section>
    </main>
<div ng-include="'layout/site/footer.html'"></div>
