<section class="home">
    <div class="container home-info">
      <div class="row">
        <h1 class="text-center">Controle suas atividades e não perca tempo...</h1>
        <p class="text-center col-md-8 col-xs-12 col-md-offset-2 col-xs-offset-0">Com o <b>Time Control</b> você consegue analisar com o que tem gastado seu tempo e otimizá-lo para passar menos tempo realizando atividades que talvez não tenham grande importância!</p>
      </div>
      <div class="home-btn row">
			     <a href="#/login" class="btn btn-radius btn-principal">Começar</a>
		  </div>
    </div>
 </section>
