<link rel="stylesheet" href="css/site.css">
<script src="js/site/init.js" charset="utf-8"></script>
<div ng-include="'layout/site/header.html'" ></div>
<main>
    <section class="loginTimeControl row">
        <div class="col-md-12 body-login">
            <div id="labelLogin">
                Login
            </div>
            <div id="labelRegistre">
                Novo no TimeControl? 
                <a href="#/cadastro" id="registre-login"> &nbsp; Registre-se</a>
            </div>
            
            <div id="login-layout">
                <form class="form-signin center-block">
                    <label for="inputEmail" class="">Email:</label><br>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Informe seu e-mail" required ng-model="email" ><br><br>
                    <label for="inputPassword" class="">Senha:</label><br>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Informe sua senha" minlength="4" maxlength="4" required ng-model="senha"><br>

                    <button class="button button-login" type="submit" ng-click="logar()">Entrar</button>
                </form>
            </div>  
        </div>
    </section>
</main>
<div ng-include="'layout/site/footer.html'"></div>