<section class="home">
    <div class="container home-info col-md-5 col-md-offset-7 col-xs-12 col-xs-offset-0">
        <h1>Controle suas atividades e não perca tempo...</h1>
        <p>Com o <b>Time Control</b> você consegue analisar com o que tem gastado seu tempo e otimizá-lo para passar menos tempo realizando atividades que talvez não tenham grande importância!</p>
        <div class="home-btn">
			<button type="button" class="btn btn-radius btn-principal">Entrar</button>
		</div>
    </div>
 </section>