<link rel="stylesheet" href="css/sistema.css">
<script src="js/sistema/init.js" charset="utf-8"></script>
<div ng-include="'layout/sistema/header.html'" ></div>
<div ng-include="'layout/sistema/atividades/modal-atividade.html'" ></div>
<div ng-include="'layout/sistema/tempo_investido/modal-tempo-investido.html'" ></div>

  <div ng-include="'layout/sistema/menu.html'" ></div>
  
  
<main>
<div class="alert alert-{{tipoMensagemUsuario}} alert-dismissible fade in" id="mensagemUsuario" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">×</span>
         </button>
         <strong>{{tituloMensagemParaUsuario}}</strong>
          {{mensagemParaUsuario}}
        </div>
  <section>
    
    <h1>Lista de Atividades</h1>
    <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Nome Atividade</th>
        <th>Descri&ccedil;&atilde;o Atividade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="atividade in atividades">
        <td>{{atividade["nome"]}}</td>
        <td>{{atividade["descricao"]}}</td>
        <td>
          <span class="glyphicon glyphicon-eye-open" title="Visualizar" ng-click="carregarAtividadeModalVisualizar(atividade.codigo)" data-placement="top" aria-hidden="true" data-toggle="modal" data-target="#modal-nova-atividade"></span>
          <span class="glyphicon glyphicon-pencil" title="Editar" ng-click="carregarAtividadeModalEditar(atividade.codigo)" data-placement="top" aria-hidden="true" data-toggle="modal" data-target="#modal-nova-atividade"></span>
          <span class="glyphicon glyphicon-trash" aria-hidden="true" data-placement="top" title="Excluir" ng-click="eventoModal(atividade.codigo)" aria-hidden="true" data-toggle="modal" data-target="#excluir"></span>

        </td>
      </tr>

    </tbody>
  </table>
  <ui-confirmacao identificador="excluir"  idexcluir="{{idExcluir}}" callback="callbackModal" fechar="Não"  confirmar="Sim"  titulo="Atenção" mensagem="Tem certeza que deseja excluir?"></ui-confirmacao>
  </section>

</main>