<link rel="stylesheet" href="css/site.css">
<script src="js/site/init.js" charset="utf-8"></script>
<div ng-include="'layout/site/header.html'" ></div>
<main>
	<div class="container">
	  <h1 class="text-center titulos">Funcionalidades</h1>
	  <div class="col-md-6 funcionalidades">
	    <img class="img-responsive" src="img/funcionalidades/mac2.jpg" alt="Funcionalidades-Time-Control">
	  </div>
	  <div class="col-md-6">
	      <p>O software Time Control facilita o controle do tempo gasto no dia a dia. Com uma interface bem amigável e com relatórios completos e precisos. Com a vida corrida que a maioria das pessoas vivem, fica difícil saber em como está gastando seu tempo e se está gastando da forma como gostaria. O sistema foi projetado com o intuito se ajudar a gerenciar melhor seu tempo nas atividades de maior importância.</p>
	  </div>
	</div>
</main>
<div ng-include="'layout/site/footer.html'"></div>
