 <header class="menuScroll">
      <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapset" data-toggle="collapse" data-target="#collapse-menu" name="button">
                <span class="sr-only"></span>
              </button>
              <a class="navbar-brand" href="index.html#/homeSite">
                <h1 class="logo">Time Control</h1>
              </a>
            </div>
              <div class="collapse navbar-collapse" id="collapse-menu">
                <ul class="nav navbar-nav navbar-right menu-topo">
                 <li class="active"><a href="#/homeSite">Início</a></li>
                 <li><a href="#/quem-somos">Quem Somos</a></li>
                 <li><a href="#/funcionalidades">Funcionalidades</a></li>
                 <!--<li><a class="btn btn-primary btn-sm" href="#">Cadastrar</a></li>-->
              </ul>
            </div>
        </div>
      </nav>
    </header>
