<link rel="stylesheet" href="css/sistema.css">
<script src="js/sistema/init.js" charset="utf-8"></script>
<div ng-include="'layout/sistema/header.html'" ></div>
<div ng-include="'layout/sistema/atividades/modal-atividade.html'" ></div>
<div ng-include="'layout/sistema/tempo_investido/modal-tempo-investido.html'" ></div>

  <div ng-include="'layout/sistema/menu.html'" ></div>


<main>
  <section>

    <h1 ng-if="todasAtividades">Relatório - Lista de Atividades</h1>
    <button ng-if="todasAtividades" class="btn btn-secundario btn-radius align-right navbar-right btn-pesquisar" ng-click="mostrarAtividadesMarcadas()" type="button">Filtrar</button>
	<h1 ng-if="atividadesMarcadas">{{todosNomesMarcados}}</h1>
    <p></p>
    <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Nome Atividade</th>
        <th>Descri&ccedil;&atilde;o Atividade</th>
		<th ng-if="atividadesMarcadas">Tempo Investido </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="relatorio in relatorios">
        <td>
          <input type=checkbox ng-checked="isMarcado(relatorio.atividade)" value="{{relatorio.atividade.nome}}" ng-click="marcar(relatorio)"/>
        </td>
        <td>{{relatorio.atividade.nome}}</td>
        <td>{{relatorio.atividade.descricao}}</td>
        <td ng-if="atividadesMarcadas && relatorio.atividade.nome">{{relatorio.tempoTotalInvestido}}</td>

      </tr>

    </tbody>
  </table>
  
  <button ng-if="atividadesMarcadas" class="btn btn-secundario btn-radius align-right navbar-right btn-pesquisar" ng-click="mostrarTodasAtividades()" type="button">Voltar para Listagem</button>
  </section>

</main>
