<link rel="stylesheet" href="css/sistema.css">
<script src="js/sistema/init.js" charset="utf-8"></script>
<div ng-include="'layout/sistema/header.html'" ></div>
<div ng-include="'layout/sistema/atividades/modal-atividade.html'" ></div>
<div ng-include="'layout/sistema/tempo_investido/modal-tempo-investido.html'" ></div>

<main>
  <div ng-include="'layout/sistema/menu.html'" ></div>
  <section>
    <h1>Relatório</h1>
    <div>


  <section class="charts">
      <div class="charts-semanais">
        <h4>Ranking de atividades que demandaram mais tempo na semana atual</h4>
            <div google-chart chart="rankingGrafico" class="col-md-12" style="height:200px"></div>
      </div>

    <div ng-if="graficosPrioridadeAlta.length" class="row charts-semanais">
      <h4>Horas Gastas na semana por atividades com PRIORIDADE ALTA</h4>
      <div ng-repeat="(key, grafico) in graficosPrioridadeAlta" google-chart chart="{{grafico}}" class="col-md-6 col-xs-12" style="height:200px"></div>
    </div>

    <div ng-if="graficosPrioridadeMedia.length" class="row charts-semanais">
      <h4>Horas Gastas na semana por atividades com PRIORIDADE MEDIA</h4>
      <div ng-repeat="(key, grafico) in graficosPrioridadeMedia" google-chart chart="{{grafico}}" class="col-md-6 col-xs-12" style="height:200px"></div>
    </div>

    <div ng-if="graficosPrioridadeBaixa.length" class="row charts-semanais">
      <h4>Horas Gastas na semana por atividades com PRIORIDADE BAIXA</h4>
      <div ng-repeat="(key, grafico) in graficosPrioridadeBaixa" google-chart chart="{{grafico}}" class="col-md-6 col-xs-12" style="height:200px"></div>
    </div>


  </section>
  </div>
  <!--<ui-confirmacao identificador="excluir"  fechar="Não"  confirmar="Sim"  titulo="Atenção" mensagem="Tem certeza que deseja excluir?"></ui-confirmacao> -->
  </section>
</main>
