@font-face {
	font-family: 'Poppins Bold';
 	src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins Light';
 	src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins Medium';
 	src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins Regular';
 	src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins SemiBold';
 	src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Orbitron Medium';
 	src: url('../fonts/Orbitron/Orbitron-Medium.ttf') format('truetype');
}

body{
  font-family: 'Poppins', arial;
}

.logo{
  font-family: 'Orbitron Medium', arial;
  color: #fff;
}

.btn-radius {
    border-radius: 46px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-principal:hover, .btn-principal:active, .btn-principal:visited, .btn-principal:focus{
    background-color: rgb(248, 120, 80);
    color: #fff;
    border: 1px solid rgb(248, 120, 80);
}
.btn-principal{    
    background-color: #ff5520;
    color: #fff;
    border: 1px solid #ff5520;
}

.btn-secundario{    
    background-color:initial;
    color: #ff5520;
    border: 1px solid #ff5520;
}

.btn-secundario:hover, .btn-secundario:active, .btn-secundario:visited, .btn-secundario:focus{
    background-color: rgb(248, 120, 80);
    color: #fff;
    border: 1px solid rgb(248, 120, 80);
}

input[type=text], input[type=number], input[type=datetime], input[type=date], input[type=time]{
	border-width: 0;
	border-bottom-width: 2px;
	box-shadow: initial;
}

.form-control:focus, textarea:focus{
  box-shadow: initial;
	border-bottom-color: #ff5520;
	
}
 textarea:focus{
	border-color: #ff5520;
border-width: 2px;
 }

.form-control{
	border-radius: 0;
}

.textarea-observacao{
	width: 100%;
}
