<link rel="stylesheet" href="css/sistema.css">
<script src="js/sistema/init.js" charset="utf-8"></script>
<div ng-include="'layout/sistema/header.html'" ></div>
<div ng-include="'layout/sistema/atividades/modal-atividade.html'" ></div>
<div ng-include="'layout/sistema/tempo_investido/modal-tempo-investido.html'" ></div>

  <div ng-include="'layout/sistema/menu.html'" ></div>
  
<main>
  <section>
    <h1>Lista de Tempo Investido</h1>
    <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Nome Atividade</th>
        <th>Descri&ccedil;&atilde;o Atividade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="atividade in atividades">
          <td>{{atividade.nome}}</td>
          <td>{{atividade.descricao}}</td>
          <td>
            <span class="glyphicon glyphicon-time" title="Adicionar novo tempo"  data-placement="top" aria-hidden="true" data-toggle="modal" data-target="#modal-tempo-investido" ng-click="editar(atividade)"></span>
<!--             <span class="glyphicon glyphicon-trash" aria-hidden="true" data-placement="top" ng-click="eventoModal(atividades.codigo)" title="Excluir" aria-hidden="true" data-toggle="modal" data-target="#excluir"></span> -->
          </td>
      </tr>
    </tbody>
  </table>
<ui-confirmacao identificador="excluir"  idexcluir="{{idExcluir}}" callback="callbackModal" fechar="Não"  confirmar="Sim"  titulo="Atenção" mensagem="Tem certeza que deseja excluir?"></ui-confirmacao>
  </section>

</main>