<div class="modal fade" id="modal-tempo-investido" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button" name="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Tempo Investido</h4>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          <div class="row">
            <div class="form-group col-xs-12 col-md-10">
              <label>Nome da atividade:</label>
              <input required  disabled type="text" name="nomeAtividade" class="form-control" placeholder="">
            </div>
             <!-- <div class="form-group col-xs-6 col-md-2">
              <label>Tempo gasto:</label>
              <input required disabled type="time" name="tempo-gastoAtividade" class="form-control" placeholder="">
            </div> -->
             <div class="form-group col-xs-12 col-md-2">
              <label>Prioridade:</label>
              <select disabled name="prioridadeAtividade" class="form-control">
                <option>Selecione</option>
                <option class="baixa" value="0">Baixa</option>
                <option class="media" value="1">Média</option>
                <option class="alta" value="2">Alta</option>
              </select>
            </div>
            
          </div>
           <div class="row">             
            <div class="form-group col-xs-6 col-md-3">
              <label>Data Início:</label>
              <input required type="date" name="dataInicioAtividade" class="form-control" placeholder="">
            </div>
            <div class="form-group col-xs-6 col-md-3">
              <label>Hora Início:</label>
              <input required type="time" name="horaInicioAtividade" class="form-control" placeholder="">
            </div>
             <div class="form-group col-xs-6 col-md-3">
              <label>Data Final:</label>
              <input required type="date" name="dataFinalAtividade" class="form-control" placeholder="">
            </div>
            <div class="form-group col-xs-6 col-md-3">
              <label>Hora Final:</label>
              <input required type="time" name="horaFinalAtividade" class="form-control" placeholder="">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 col-md-12">
              <label>Descrição:</label>
              <textarea class="textarea-observacao" ng-model="descricaoAtividade" rows="10" name="descricaoAtividade"></textarea>
            </div>            
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secundario btn-radius" data-dismiss="modal" type="button">Cancelar</button>
        <button class="btn btn-principal btn-radius" type="submit">Salvar</button>
      </div>
    </div>
  </div>
</div>
